* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*===============================


Universal Styling


================================*/

/*===============================


Header Styling


================================*/

header {
background: white;
padding: 20px;
}

header nav ul li {
  display: inline;
  padding: 0 15 px;
}

header nav a {
  font-family: 'Belleza', sans-serif;
  text-decoration: none;
  color: #9f6953;
}

header nav a:hover {
  color: rgb(255, 204, 204);
}
